@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  #qs-app-header   { display: none !important; }
  #qs-print-button { display: none !important; }
  body             { background: white !important; }

  /* prevent page breaks inside key document blocks */
  .print-no-break  { break-inside: avoid; page-break-inside: avoid; }
}
